.git
.pytest_cache
__pycache__
*.pyc
venv
.venv
logs/*
data/checkpoints/*
data/debug/*
data/state/*
data/browser_profile/*
data/browser_state/*
data/output/*
data/processed/*
data/raw/*
!data/checkpoints/.gitkeep
!data/debug/.gitkeep
!data/state/.gitkeep
!data/output/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
